/*start Media Qeury*/

@media screen and (min-width:480px) and(max-width:750px)
{
	header nav {
		flex-direction: column;
	}
	header nav ul {
		flex-direction: column;
		align-items: center;
	}
	header nav .logo{
		margin: 20px 0;
	}
}





/*End Media Qeury*/